<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

    <body>

        <%- include('./navbar') %>


            <div class="container-fluid d-flex justify-content-center">
                <%- include("../partials/flashSuccess.ejs") %>
                    <%- include("../partials/flashError.ejs") %>
            </div>

            <%-body %>

                <%- include('./footer') %>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                        crossorigin="anonymous"></script>
                    <script src="/javascripts/card.js"></script>
                    <script src="/javascripts/pform.js"></script>
                    <script src="/javascripts/formValidation.js"></script>


    </body>

</html>